
*{
    margin: 0;
    padding: 0;
}

header{
    height: 50px;
}

.filter-btns{
    margin: 30px;
}

.filter-btns button{
    width: 6rem;
    height: 1.6rem;
    margin: 8px;
    border-radius: 10px;
    border-color: rgb(202, 202, 202);
    border-style: solid;
    border-width: 0.5px;
}

.list-container{
    margin-left: 30px;
    float: left;
    width: 33%;
}

.list-container .result{
    padding: 20px;
}

.job-list{
    height: 100vh;
    overflow: scroll;
}
.job-list li{
    height: 100px;
}

.description-container{
    padding: 20px;
    height: 100vh;
    overflow: scroll;
}

.job-title{
    font-size: 2rem;
}