
*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    height: 50px;
}

.super-container{
}

.filter-btns{
    margin: 30px;
}

.filter-btns button:not(.reset-btn){
    width: 100px;
    height: 1.8rem;
    margin: 8px;
    border-radius: 5px;
    border-color: rgb(202, 202, 202);
    border-style: solid;
    border-width: 0.5px;
}

.filter-btns #exp{
    width: 150px;
}

.all-filters-btn{

}

.reset-btn{
    margin: 2rem;
    border: none;
    background: none;
}

.separator{
    font-size: 20px;
}

.list-container{
    margin-left: 30px;
    float: left;
    width: 33%;
}

.list-container .result{
    padding: 20px;
}

.sort-btn{
    float: right;
    width: 40px;
}

.job-list{
    height: 100vh;
    overflow: scroll;
}
.job-list li{
    height: 100px;
}

.description-container{
    padding: 10px 100px 100px 100px;
    height: 100vh;
    overflow: scroll;
}

.job-title{
    font-size: 2rem;
}

.job-summary{
    list-style: none;
}

.job-summary li{
    padding: 5px;
}

.job-summary span{
    padding: 7px;
}

#company-name{
    margin-bottom: 1rem;
}

.apply-btn{
    margin: 1rem;
    height: 2rem;
    width: 80px;
    font-size: 20px;
}